<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TeamManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
</head>

<body>
    <div class="container-scroller">
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-lg-row bg-dark">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <h3><span class="page-title">HR Management Tool</span></h3>
            </div>
        </nav>
        <div class="container-fluid page-body-wrapper bg-dark">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#Employee" aria-expanded="false" aria-controls="ui-basic">
                            <i class="fas fa-users fa-lg" style="margin-right:0.7em"></i>
                            <span class="menu-title">Employee</span>
                            <i class="menu-arrow text-primary"></i>
                        </a>
                        <div class="collapse" id="Employee">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" asp-controller="Employee" asp-action="Create">New Employee</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Employee" asp-action="Index">All Employees</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#Reports" aria-expanded="false" aria-controls="ui-basic">
                            <i class="far fa-file-alt fa-lg" style="margin-right:0.7em"></i>
                            <span class="menu-title">Reports</span>
                            <i class="menu-arrow text-primary"></i>
                        </a>
                        <div class="collapse" id="Reports">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" asp-controller="Reports" asp-action="Weekly">Weekly Hired</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Reports" asp-action="Terminated">Terminated</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Reports" asp-action="Permissions">Permissions</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Reports" asp-action="ActivityReport">Activity Report</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-panel">
                <partial name="_CookieConsentPartial"/>
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <footer class="footer">
                    <p>&copy: @DateTime.UtcNow.Year - Conservice Team Management - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
                </footer>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
